<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% if FAVICON %}
    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon" />
    <link rel="icon" href="{{ FAVICON }}" type="image/x-icon" />
    {% endif %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% endblock %}

    <title>{{ SITENAME }} {% block title %} {% endblock %}</title>
  </head>

  <body id="index" class="home">
    {% block content %} {% endblock %}
    <footer class="footer">
      <div class="text-center">
        <small class="copyright"
          >Designed with
          <a
            href="https://github.com/getpelican/pelican/"
            target="_blank"
            rel="nofollow"
            >Pelican</a
          ></small
        >
      </div>
      <!--//container-->
    </footer>
    <!--//footer-->
  </body>
</html>
